@import url("https://fonts.googleapis.com/css2?family= Inter:wght@200;300 & display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: blueviolet;
  font-family: "Inter", sans-serif;
  font-size: 2em;
}

.container {
  width: 100%;
  height: 100%;
  left: 0;
}

#consulta-tabela {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#consulta-tabela .container-inputs {
  display: flex;
  justify-content: center;
  width: 80%;
}

.container-inputs input {
  width: 60%;
  height: 25px;
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}

.container-inputs button {
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  margin-left: 20px;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  background-color: blueviolet;
  cursor: pointer;
}


.table {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

#tabelaClientes {
  width: 60%;
  color: black;
  margin: auto;
  border-collapse: collapse;
}

#tabelaClientes th,
#tabelaClientes td {
  border: 1px solid black;
  text-align: center;
}

.error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.error > img {
  position: relative;
  width: 200px;
  display: block;
  margin: auto;
}

.error > p {
  position: relative;
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  color: red;
}